
<footer>
    <div class="container">
        <div class="footer-row d-flex flex-wrap text-light justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-light">© 2022 Company, Inc</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center text-light justify-content-center mb-3 mb-md-0 me-md-auto  text-decoration-none">
            <svg class="bi me-2 text-light" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2  text-light">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light ">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
          </ul>
        </div>
      </div>
</footer>

</body>
</html>