<%-include("partails/header")%>

<section class="Header p-4">
    <div class="header-container">
      <div class="row"> 
        <div class="col-2"></div>
            <div class="header-photo col-4">
                <img src="/images/news-red.jpg" alt="">
            </div>
            <div class="header-content col-5 mt-5">
                    <h1 class="header-title">
                        "DiaryDive: Delve into the Art of Journaling"
                    </h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, minus iure nesciunt illo similique fuga velit est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti placeat rerum alias sit, qui eaque necessitatibus. Iure nisi modi eum adipisci iste expedita sint magnam ab inventore at, labore nesciunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure excepturi ratione iusto enim accusantium doloremque! Animi mollitia alias rerum laudantium odit eaque recusandae veritatis! Ipsa molestias quia reiciendis magni.</p>
                    <button><a href="">Read more</a> </button>        
            </div>
    </div>
</div>
</section>


<!-- Lates news-->
<section class="Latest mt-5">

    <h1 style="color: black;" class="header-title"> Latest news</h1>
    <div class="row card-container d-flex ">
        <!--CARD 1 -->
        <div class="card-latest col-3  d-flex flex-column gap-3">
            <div class="card-img "> 
                <img src="/images/latest2.jpg" alt="">
            </div>
            <div class="card-content">
                <div class="card-icon d-flex text-center align-items-center ">
                    <img src="images/bbc.jpeg" alt="">
                    <p class="cap-l">BBC</p>
                    <p class="cap-l">Relesed  2022-02-02</p>
                </div>
                
                <h2 class="header-title">Art exhibition</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita inventore distinctio error rerum maxime impedit culpa natus explicabo, accusantium aliquam nesciunt dolorum ipsam dolorem accusamus aspernatur ea beatae corporis!</p>
            </div>
        </div>
             <!--CARD 2 -->
             <div class="card-latest col-3  d-flex flex-column gap-3">
                <div class="card-img "> 
                    <img src="/images/latest-soccer.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-icon d-flex text-center align-items-center ">
                        <img src="images/365.jpeg" alt="">
                        <p class="cap-l">365</p>
                        <p class="cap-l">Relesed  2024-03-01</p>
                    </div>
            
                    <h2 class="header-title">Foot Ball</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita inventore distinctio error rerum maxime impedit culpa natus explicabo, accusantium aliquam nesciunt dolorum ipsam dolorem accusamus aspernatur ea beatae corporis!</p>
                </div>
            </div>
        <!--CARD 3 -->
        <div class="card-latest col-3  d-flex flex-column gap-3">
            <div class="card-img "> 
                <img src="/images/latest-politecs.jpg" alt="">
            </div>
            <div class="card-content">
                <div class="card-icon d-flex text-center align-items-center ">
                    <img src="images/cnn.jpeg" alt="">
                    <p class="cap-l">CNN</p>
                    <p class="cap-l">Relesed  2024-02-05</p>
                </div>
                
                <h2 class="header-title">Art exhibition</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita inventore distinctio error rerum maxime impedit culpa natus explicabo, accusantium aliquam nesciunt dolorum ipsam dolorem accusamus aspernatur ea beatae corporis!</p>
            </div>
        </div>
             <!--CARD 4 -->
             <div class="card-latest col-3  d-flex flex-column gap-3">
                <div class="card-img "> 
                    <img src="/images/latest-markting.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-icon d-flex text-center align-items-center ">
                        <img src="images/New York.jpeg" alt="">
                        <p class="cap-l">New-york Times</p>
                        <p class="cap-l">Relesed  2022-05-04</p>
                    </div>
                    
                    <h2 class="header-title">Art exhibition</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita inventore distinctio error rerum maxime impedit culpa natus explicabo, accusantium aliquam nesciunt dolorum ipsam dolorem accusamus aspernatur ea beatae corporis!</p>
                </div>
            </div>
    </div>
</section>

<!-- Editor-->

<section class="Editors">
    
</section>


<%-include("partails/footer")%>
