body{
    background-color: #f7f7f7;
    font-family: mainFont;
}

/* FONTS */

@font-face {
    font-family: mainFont;
    src: url(../fonts/Rajdhani-Medium.ttf);
  }
  @font-face {
    font-family: main-header;
    src: url(../fonts/Jacquard24-Regular.ttf);
  }
  @font-face {
    font-family: logo;
    src: url("../fonts/Butler_Black.otf");
  }
  @font-face {
    font-family: article-head;
    src: url("../fonts/DMSerifDisplay-Regular.ttf");
  }
  @font-face {
    font-family: article-prag;
    src: url("../fonts/DMSerifDisplay-Italic.ttf");
  }

  
/*  */
  .nav-container , .container ,.header-container{
    height: inherit;
    width: 90% ;
    margin: auto;
  }

.row{
    height: inherit;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.cap-l{
    color: rgba(87, 87, 87, 0.637);
}

/*Nav bar*/ 
nav{
    height: 120px;
    width: 100%;
    background-color: rgb(235, 235, 235);
}
/* Nav LOGO*/

.nav-logo{
font-family: main-header;
}

/* Nav LIST*/

.nav-list li {
    width: 150px;
    margin: 10px;
    text-align: center;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: black;
    font-size: larger;
    transition: all 0.1s ease-in-out;    
}

.nav-list li a {
    transition: all 0.1s ease-in-out;
}


.nav-list li:last-child{    
    border-right: 1px solid  #000;
}

.nav-list a:hover{
    color: #A34343;

}


/* Nav Form*/

.nav-list input{
    border: none;
    padding: 15px;
    border-radius:30px;
    width: 300px;
    outline: none;
}

.nav-list button {
    position: relative;
    border: none;
    border-radius: 30%; 
    background-color: #fff;
    right: 50px; 
  
}
.nav-list button i{
color: #b3b3b3;
  
}


/* Header*/

.Header{
    width: 90%;
    height: 85vh;
    background-color: rgb(235, 235, 235);
    margin: auto;
    padding: 200px;
}

/* Header photo*/
.header-photo img{
    max-width: 90%;
    border-radius: 5px;
}

/* Header Content*/
.header-title{
    font-family: logo;
    color: black;
}


.header-content button{
    border: 0px;
    height: 50px;
    border-radius: 5px;
    background-color: #000;
    color: #f7f7f7;
    width: 150px;
}

.header-content a{
    color: #f7f7f7;
    transition: all 0.1s ease-in-out;
}
.header-content a:hover{
    color: black;
}


/* Latest */

.Latest{
    width: 80%;
    height: 700px;
    margin: auto;
    
}
.card-content h2{
    font-size:28px;
}
.card-img img{
    max-width: 100%;
    border-radius: 10px;
}


.card-icon img {
    max-width: 12%;
    border-radius: 50%;   
    margin-bottom: 6PX; 
}
.card-icon p{ 
    margin-left: 5px;
    margin-top: 10px;
}



/*Editors*/
.Editors{
    width: 90%;
    height: 600px;
    margin: auto;
    background-image: url("../images/edit7 (2).jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    color: white;

}
      
.gradint
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( #0f2130b9,#010D16 );
    border-radius: 15px;

}

.space{
    height: 40%;
    width: 100%;
}

.Editors-icon img {
    max-width: 2.5%;
    border-radius: 50%;   
    margin-bottom: 20PX; 
}

.Editors p {
    opacity: 0.7;
}


/* Articles */ 
.Articles{
    width: 100%;   


}
.Articles-container{
    width: 90%;
    margin: auto;
}
.articlePost {
    height: 450px;
    width: 100%;
    border-bottom: 1px solid #000;

    
}
.postImg{
    
    height: 100%;
}
.postImg img { 
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 5px;

}
.postContent h1{
    font-family: article-head;
}
.postContent p{
    font-family: article-prag;
    opacity: 0.9;
    
}
.articleButton{
    border: 0px;
    height: 50px;
    border-radius: 5px;
    background-color: #000;
    width: 150px;
    transition: all 0.3s ease-in-out;

}
.articleButton:hover {
    color: #000;
    background-color: transparent;
    border: 2px solid #000
    
}
.articleButton:hover > a {color:black}

.articleButton a {
    color: #f7f7f7;
}
   
